body{
  direction: ltr !important;
}

.happy-clients {
  left: unset !important;
  right: -50px !important;
}

.navbar .nav-link::after {
  right: unset !important;
  left: 7px !important;
}
.navbar .nav-link::before {
  right: unset !important;
  left: 38px !important;
}

.services .service:hover img {
  transform: rotate(-35deg) !important;
}

footer .head::after {
  right: unset !important;
  left: -15px !important;
}

.whats-app {
  right: unset !important;
  left: 1rem !important;
}
.breadcrumb-item+.breadcrumb-item::before {
  float: left;
}
.details .sec-title::after {
  left: 0 !important;
  right: unset !important;
}
.details .detail p {
  margin-left: unset !important;
  margin-left: 2rem !important;
}
.details .detail p::before {
  left: -2rem !important;
  right: unset !important;
}
.details .detail p::after { 
  left: -2rem !important;
  right: unset !important;
}

.accordion-button::after {
  margin-left: auto !important;
  margin-right: unset !important;
}

.single-service .item .caption p::before {
  right: unset !important;
  left: -2rem !important;
}


.single-service .item .caption p::after {
  left: -2rem;
  right: unset !important;
}

.single-service .item .caption p {
  margin-left: unset !important;
  margin-left: 2rem;
}

.blog main {
  margin: 0rem 1rem;
}
.form-check .form-check-input {
  float: left !important;
  margin-left: -1.5em !important;
  margin-right: unset !important;
}

.profile .nav-pills .nav-link.active::after {
  left: 3px !important;
  right: unset !important;
}

.profile .nav .logout i {
  margin-right: 0.5rem !important;
  margin-left: unset !important;
}












@media (max-width: 991px){
.navbar-collapse.active {
    left: 0 !important;
    right: unset !important;
}
.navbar-collapse {
    right: unset !important;
    left: -100% !important;
}
}

@media (max-width: 625px){
  .happy-clients {
    transform: translate(-100%, 10%);
}
}